/*||||||||||||||||||
-CSS RESETS-
||||||||||||||||||*/

body {
  margin: 0;
  font-family: sans-serif;
}


ul {
  padding-left: 0;

  list-style: none;
}

* {
  box-sizing: border-box;
}

/*||||||||||||||||||
-DOUBLE CONTAINER-
||||||||||||||||||*/

img {
  max-width: 100%; /* tells the images that they can't be any bigger than their container */

}

.container {
  max-width: 65rem;
  margin: 0 auto; /* only works if you've defined a width, moves it into the center
                     where there are equal margins on each side */

}

.grid {
  overflow: auto;
}

.grid__item {
  width: calc(100% / 3 - 1rem - 1rem);
  float: left;
  margin: 1rem;
}

.title {

}

.item-info {
  border-bottom: 1px solid #bababa;
  overflow: auto;
}

.info-left {
  float: left;
  color: #bababa;
  line-height: 2rem;
}

.info-right {
  line-height: 2rem;
  float: right;
  color: #545454;

}


.bold-username {
  color: black;
  font-weight: 500;
}

.big {
  border-radius: 1%;
  border: 1px solid #adadad;
}

.small {
  border-radius: 1%;
  line-height: 2rem;
  height: 2rem;
  width: 2rem;
  float: right;
  margin-left: 0.5rem;
}
